<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Update</title>
</head>
<body>

<form th:action="@{/admin/users/{id}(id=${user.getId()})}" th:method="PATCH" th:object="${user}">
    <table>
        <tr>
            <td>
                <label for="username">Enter username: </label>
            </td>
            <td>
                <input id="username" th:field="*{username}" type="text"/>
                <div style="color:red" th:errors="*{username}" th:if="${#fields.hasErrors('username')}">username Error
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <label for="password">Enter password: </label>
            </td>
            <td>
                <input id="password" th:field="*{password}" type="password"/>
                <div style="color:red" th:errors="*{password}" th:if="${#fields.hasErrors('password')}">password Error
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <label for="email">Enter email: </label>
            </td>
            <td>
                <input id="email" th:field="*{email}" type="text"/>
                <div style="color:red" th:errors="*{email}" th:if="${#fields.hasErrors('email')}">Email Error</div>
            </td>
        </tr>
        <tr>
            <td>
                <label for="role">Enter role: </label>
            </td>
            <td>
                <select id="role" th:field="*{roles}">
                    <option value="1">Пользователь</option>
                    <option value="2">Администратор</option>
                </select>
                <div class="error-message" th:errors="*{roles}" th:if="${#fields.hasErrors('roles')}">Ошибка выбора
                    роли
                </div>
            </td>
        </tr>
    </table>
    <input type="submit" value="Update!"/>
</form>
<a th:href="@{/logout}">Выход</a>
<a th:href="@{/admin/users}">Назад</a>

</body>
</html>